#set($title="BlogDetail Page")
#parse("header.vm")
<div class="maindiv">
	<div style="height: 20px;">
		<ol class="breadcrumb">
		    <li><a href="$link.contextPath/view?oper=list">首页</a></li>
		    <li><a href="$link.contextPath/view?oper=list&author=$data.author">$data.author的博客</a></li>
		    <li class="active">博客详情</li>
		</ol>
	</div>
	<div class="page-header">
		<h3><strong>$!data.title</strong></h3>
		<div class="pull-left"><small class="text-muted">$data.author 发表于 $date.format("yyyy-MM-dd",$!data.createtime)</small></div>
		#if($!data.user_name == $!data.author)
			<div class="btn-group pull-right">
			    <button type="button" class="btn btn-default btn-xs" onclick="window.location.href='$link.contextPath/edit?id=$!data.id'">编辑</button>
			    <button type="button" class="btn btn-default btn-xs" onclick="window.location.href='$link.contextPath/delete?id=$!data.id'">删除</button>
			</div>
		#end
		<div class="clearfix"></div>
	</div>
	<div style=" clear: both;"></div>
	<div class="text-muted"><em>摘要: $!data.description</h5></em></div>
	<div class="blogContent">
		<div id="editormd-view">
            <textarea style="display:none;"></textarea>
            <div id="append" style="display:none;">$!data.content</div>   
        </div>
	</div>
</div>
<link rel="stylesheet" href="$link.contextPath/css/editormd.preview.css" />
<script src="$link.contextPath/js/lib/marked.min.js"></script>
<script src="$link.contextPath/js/lib/prettify.min.js"></script>
<script src="$link.contextPath/js/lib/raphael.min.js"></script>
<script src="$link.contextPath/js/lib/underscore.min.js"></script>
<script src="$link.contextPath/js/lib/sequence-diagram.min.js"></script>
<script src="$link.contextPath/js/lib/flowchart.min.js"></script>
<script src="$link.contextPath/js/lib/jquery.flowchart.min.js"></script>
<script src="$link.contextPath/js/editormd.js"></script>
<script type="text/javascript">
	$(function() {
		var EditormdView;
		EditormdView = editormd.markdownToHTML("editormd-view", {
			markdown : $("#append").text(),
			//htmlDecode : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
			htmlDecode : "style,script,iframe",  // you can filter tags decode
			//toc : false,
			tocm : true,    // Using [TOCM]
			//tocContainer : "#custom-toc-container", // 自定义 ToC 容器层
			//gfm : false,
			//tocDropdown : true,
			//markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
			emoji : true,
			taskList : true,
			tex : true,  // 默认不解析
			flowChart : true,  // 默认不解析
			sequenceDiagram : true,  // 默认不解析
		});
		//console.log("返回一个 jQuery 实例 =>", testEditormdView);
		// 获取Markdown源码
		//console.log(EditormdView.getMarkdown());
		//alert(EditormdView.getMarkdown());
	});
</script>