#set($title="EditBlog Page")
#parse("header.vm")
<div class="maindiv">
	<div style="height: 20px;">
		<ol class="breadcrumb">
		    <li><a href="$link.contextPath/view?oper=list">首页</a></li>
		    <li><a href="$link.contextPath/view?oper=list&author=mine">我的博客</a></li>
		    <li class="active">博客编辑</li>
		</ol>
	</div>
	<form id="editForm" role="form" action="$link.contextPath/edit?oper=do" method="post">  
		<input type="hidden" name="id" value="$!data.id" />
		<div class="blogHeader">
			<input type="text" class="blogForm center-block" name="title" value="$!data.title" placeholder="无标题博客" maxlength="100"  style="font-size: 20px;"></input>
			<textarea id="desc" class="blogForm center-block" name="description" placeholder="无摘要" rows="3" maxlength="300">$!data.description</textarea>
		</div>
		<div>
			<div id="editormd">
				<textarea name="content"></textarea>
				<div id="append" style="display:none;">$!data.content</div> 
			</div>
			<input type="hidden" name="md" value="0"></input>
		</div>
	</form>
</div>
<div class="blogTbar blogTbar-fixed-bottom"> 
    <div class="inner"> 
        <div class="blogTbarR">
	        <button id="release" data-loading-text="发布中..." type="button" class="btn btn-default" style="margin: 4px;padding: 0 12px;">&nbsp;&nbsp;发&nbsp;&nbsp;布&nbsp;&nbsp;</button>
	    </div>
    </div> 
</div>
<link rel="stylesheet" type="text/css" href="$link.contextPath/css/editormd.css">
<script type="text/javascript" src="$link.contextPath/js/editormd.js"></script>
<script type="text/javascript">
	var Editormd;
	$(function() {
		Editormd = editormd("editormd", {
			width: "100%",
	        height: 580,
	        path : '$link.contextPath/js/lib/',
	        markdown : $("#append").text(),
	        codeFold : true,
	        //syncScrolling : false,
	        //saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
	        searchReplace : true,
	        watch : false,                // 关闭实时预览
	        //htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
	        //toolbar  : false,             //关闭工具栏
	        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
	        emoji : true,
	        taskList : true,
	        tocm : true,         // Using [TOCM]
	        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
	        flowChart : true,             // 开启流程图支持，默认关闭
	        sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
	        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
	        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
	        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
	        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
	        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
	        imageUpload : true,
	        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
	        imageUploadURL : "$link.contextPath/upload",
	        onload : function() {
	        	console.log('onload', this);
	            //this.fullscreen();
	            //this.unwatch();
	            //this.watch().fullscreen();
				//this.setMarkdown("#md");
	            //this.width("100%");
	            //this.height(480);
	            //this.resize("100%", 640);
	        },
	        onfullscreen : function() {
            	console.log("onfullscreen =>", this, this.id, this.settings);
            	this.watch();
            },
            onfullscreenExit : function() {
            	console.log("onfullscreenExit =>", this, this.id, this.settings);
            	this.unwatch();
            }
    	});
    });
    $("#desc").focus(function(){
		$(this).animate({height:"+=40px"},'fast');
	});
	$("#desc").blur(function(){
		$(this).animate({height:"-=40px"},'fast');
	});
	$("#release").click(function(){
        $(this).button('loading').delay(1000).queue(function() {
        	//$(this).button('reset');
            //$(this).dequeue(); 
        });
		$("#editForm").submit();
    });
</script>